.container {
    width: 100%;
    margin: 0 auto;
  }
  
  .container-login {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .wrap-login {
    width: 400px;
    background-color: #CCCED9;
    border-radius: 10px;
    overflow: hidden;
    padding: 15px 50px 15px 50px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
  }

/*daqui pra baixo menu */

.menu {
  display: flex;
  justify-content: center; /* Centralizar horizontalmente */
  align-items: center;
  background-color: #3c4659; /* Cor de fundo */
  padding: 10px;
}


.menu ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  color: #fff;
  text-decoration: none;
}

.menu a:hover {
  color: #00a8cc;
}

  