.pagamento-label {
    font-weight: bold;
  }
  
  .pagamento-control {
    margin-bottom: 10px;
  }
  
  .pagamento-title {
    font-weight: bold;
  }
  
  .pagamento-text {
    margin-bottom: 5px;
  }