.carousel-inner {
    max-width: 800px;
    margin: 0 auto; 
    
  }
  
  .centered-carousel {
    margin-left: auto; /* Centraliza o carrossel na horizontal */
    margin-right: auto; /* Centraliza o carrossel na horizontal */
  }

  .carousel-item img {
    width: auto; 
    height: 200px;
  }